.App{
  width:60%;
  padding:20px;
  margin:40px auto 0;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.header{
  height:40px;
  font-size:20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main{
  flex:1;
}